<div class="todoContainer" cdkDrag [cdkDragData]="task">
  <header>
    <div class="category" [style.background-color]="task.category.color">
      <span class="catName">{{ task.category.name }}</span>
    </div>
    <div class="wrapper">
      <img
        src="/assets/img/delete.png"
        (click)="ts.deleteTodo(task.id)"
        class="delete"
      />
    </div>
  </header>
  <span class="title">{{ task.title }}</span>
  <span class="description">{{ task.description }}</span>
  <div class="wrapper">
    <div class="assignedToUsersWrapper">
      <ng-container *ngFor="let userId of task.assignedTo">
        <span
          class="userFrame userFrameTask"
          [style.background-color]="loadUserColor(userId)"
        >
          {{ loadUsernameTask(userId) }}
        </span>
      </ng-container>
    </div>
    <span class="prio">
      <img [src]="prioImages(task.priority)" class="prioImg" />
    </span>
  </div>
</div>
