<div *ngIf="us.selectedUser" class="employeesDataWrapper" [@slideInOut]>
  <div class="userDataWrapper">
    <!-- <span class="userDataCloseContainer">
      <img (click)="closeUserData()" src="/assets/img/close.svg" />
    </span> -->
    <div class="userDataName">
      <span
        *ngIf="us.switchBtnText === 'go to the externals'"
        class="userFrame userDataFrame"
        [style.background-color]="us.selectedUser.user_color"
        >{{ us.employeesInitials(us.selectedUser.username, us.selectedUser.last_name ) }} </span
      >
      <span
        *ngIf="us.switchBtnText === 'go to the employees'"
        class="userFrame userDataFrame"
        [style.background-color]="us.selectedUser.color"
        >{{ us.externalsInitials(us.selectedUser.username) }}</span
      >
      <span class="nameWrapper nameDataWrapper"
        >{{ us.selectedUser.username }} {{ us.selectedUser.last_name }}</span
      >
    </div>
    <span *ngIf="us.switchBtnText === 'go to the externals'" class="addUserTask" (click)="ts.AddUserTask()"
      >+ Add Task</span
    >
    <span
      *ngIf="us.switchBtnText === 'go to the employees'"
      class="editContact"
    >
      <span (click)="openEditContact()" class="edit">
        <img src="/assets/img/editContact.png" /> Edit contact
      </span>
      <span class="delete" (click)="us.deleteContact()">
        <img src="/assets/img/delete.png" />delete</span
      >
    </span>

    <div class="emailWrapper">
      <span class="email">E-mail:</span>
      <a [href]="'mailto:' + us.selectedUser.email" target="_blank">
        {{ us.selectedUser.email }}
      </a>
    </div>
    <div
      *ngIf="us.switchBtnText === 'go to the employees'"
      class="emailWrapper"
    >
      <span class="email">Phone: {{ us.selectedUser.phone }}</span>
    </div>
  </div>
</div>
