<div *ngIf="us.newContact" class="slideContainer" [@slideInOut]>
    <div class="container">
      <div class="slogen">
        <div class="sloganContainer">
          <img src="/assets/img/join-white-logo.png" class="logo" />
          <h1>Add contact</h1>
          <span class="sloganText">Tasks are better with a team!</span>
        </div>
      </div>
      <div class="formContainer">
        <span class="deleteContainer">
          <img
            src="/assets/img/close.svg"
            class="close"
            (click)="closeNewContainer()"
          />
        </span>
        <div class="wrapper">
          <div class="userImgContainer">
            <div class="frame">
              <img src="/assets/img/createUserIcon.png" />
            </div>
          </div>
          <form (submit)="onSubmit()">
            <input type="text" placeholder="First and last name" [(ngModel)]="us.username" name="username">
            <input type="email" placeholder="E-mail" [(ngModel)]="us.email" name="email">
            <input type="tel" placeholder="Phone" [(ngModel)]="us.phone" name="phone">
            <button type="submit" class="btnBlue btnCreate">Create contact<img src="/assets/img/btncheck.png" /></button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
