/*************************************************************/
/************************   query's   ************************/
/*************************************************************/

@media screen and (max-height: 680px) {
    .authHeader {
        height: 6% !important;
    }

    .authLogo {
        display: flex;
        margin: 3px 0 0 0;
        height: 40px !important;
    }
}