<div class="page">
  <div class="authHeader">
    <div class="animationContainer">
      <a href="">
        <img
          draggable="false"
          class="authLogo"
          src="/assets/img/join_login_logo.png"
      /></a>
    </div>
  </div>
  <div class="authContainer">
    <div class="backContainer">
      <div (click)="goBack()" class="backTo">&larr;</div>
    </div>
    <div class="authInformation">
      <h1>Sign up</h1>
      <form (ngSubmit)="Signup()">
        <div class="inputForm">
          <input
            type="text"
            [(ngModel)]="username"
            name="username"
            placeholder="First name Last name"
            autocomplete="username"
            #usernameInput="ngModel"
            pattern="^[ a-zA-Z\s]+$"
            required
          />
          <div
            *ngIf="(formSubmitted && !username.trim()) || (usernameInput.touched && usernameInput.errors?.['required'])"
            class="errorMessageSign"
          >
            Name is required
          </div>
          <div
            *ngIf="usernameInput.errors?.['pattern']"
            class="errorMessageSign"
          >
            Please enter only letters
          </div>
          <input
            type="text"
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            autocomplete="email" 
            #emailInput="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required
          />
          <div
            *ngIf="(formSubmitted && emailInput.errors?.['required']) || (emailInput.touched && emailInput.errors?.['required'])"
            class="errorMessageEmail"
          >
            Email is required
          </div>
          <div *ngIf="emailInput.errors?.['pattern']" class="errorMessageEmail">
            Please enter a valid email address
          </div>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Password"
            autocomplete="current-password"
            #passwordInput="ngModel"
            required
            pattern="^(?!.*<)(?!.*>).*"
          />
          <div
            *ngIf="(formSubmitted && passwordInput.errors?.['required']) || (passwordInput.touched && passwordInput.errors?.['required'])"
            class="errorMessagePass"
          >
            Password is required
          </div>
          <div
            *ngIf="passwordInput.errors?.['pattern']"
            class="errorMessagePass"
          >
            Password cannot contain HTML tags
          </div>

          <input
          type="password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
          autocomplete="new-password"
          #confirmPasswordInput="ngModel"
          required
        />
        <div
          *ngIf="(formSubmitted && confirmPasswordInput.errors?.['required']) || (confirmPasswordInput.touched && confirmPasswordInput.errors?.['required'])"
          class="errorMessagePassConfirm"
        >
          Confirm Password is required
        </div>
        <div *ngIf="confirmPassword && confirmPassword !== password" class="errorMessagePassConfirm">
          Passwords do not match
        </div>

        </div>
        <div class="btnContainer">
          <button class="btnBlue">Sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="registration_successful" class="successMessage">
  {{ registrationSuccessMessage }}
</div>
<div *ngIf="registration_unsuccessful" class="unsuccessMessage">
  {{ registrationErrorMessage }}
</div>
