h3 {
    display: flex;
    margin-top: 54px;
    margin-bottom: 54px;
    font-size: clamp(12px, 4vw, 44px);
    border-bottom: 2px solid rgb(67, 178, 247);
    padding-bottom: 5px;
    cursor: default;
}

.forgotText {
    display: flex;
    font-size: clamp(12px, 1vw, 24px);
    padding: 30px;
}