<div class="page">
  <div class="authHeader">
    <div class="animationContainer">
      <a href="">
        <img draggable = "false" class="authLogo" src="/assets/img/join_login_logo.png" /></a
      >
    </div>
  </div>
  <div class="authContainer">
    <div class="backContainer">
      <div (click)="goBack()" class="backTo">&larr;</div>
    </div>
    <div class="authInformation">
      <h3>I forgot my password</h3>
      <span class="forgotText"
        >Don't worry! We will send you an email with the instructions to reset
        your password.</span
      >
      <form (ngSubmit)="forgotPassword()">
        <div class="inputForm">
          <input
            [(ngModel)]="email"
            required
            type="email"
            name="email"
            required
            placeholder="Email"
            autocomplete="email"
          />
        </div>
        <div class="btnContainer">
          <button class="btnBlue">Send me the email</button>
        </div>
      </form>
      <div class="notification" *ngIf="notificationMessage">
        {{ notificationMessage }}
      </div>
      <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
  </div>
</div>