h3 {
    display: flex;
    margin: 54px 0 54px 0;
    font-size: clamp(12px, 4vw, 44px);
    border-bottom: 2px solid rgb(67, 178, 247);
    padding: 0 0 5px 0;
    cursor: default;
}

.forgotText {
    display: flex;
    font-size: clamp(12px, 1vw, 24px);
    padding: 30px;
}