<div class="contactContainer">
  <div class="userList" id="userList">
    <button class="switchBtnList" (click)="switchList()">
      {{ us.switchBtnText }}
    </button>
    <!-- employees list -->
    <div
      class="employeesContainer"
      *ngIf="us.switchBtnText === 'go to the externals'"
    >
      <ng-container *ngFor="let group of us.sortUser(us.users)">
        <div class="sortHeader">{{ group.initial }}</div>
        <span
          *ngFor="let user of group.users"
          class="employeesWrapper"
          [class.selected]="user === us.selectedUser"
          (click)="openEmployees(user)"
        >
          <span class="userFrame" [style.background-color]="user.user_color">
            {{ us.employeesInitials(user.username, user.last_name) }}
          </span>
          <span class="nameWrapper">
            {{ user.username }} {{ user.last_name }}
          </span>
        </span>
      </ng-container>
    </div>

    <!-- Eexternals list -->
    <div
      class="externalsContainer"
      *ngIf="us.switchBtnText === 'go to the employees'"
    >
      <ng-container *ngFor="let group of us.sortUser(es.userListEexternals)">
        <div class="sortHeader">{{ group.initial }}</div>
        <span
          *ngFor="let user of group.users"
          class="externalsWrapper"
          [class.selected]="user === us.selectedUser"
          (click)="openEmployees(user)"
        >
          <span class="userFrame" [style.background-color]="user.color">{{
            us.externalsInitials(user.username)
          }}</span>
          <span class="nameWrapper"
            >{{ user.username }} {{ user.last_name }}</span
          >
        </span>
      </ng-container>
    </div>
  </div>
  <div class="content" id="content">
    <header>
      <h1 class="headlineText">Contacts</h1>
      <span class="slogan">Better with a team</span>
    </header>
    <div class="wrapper">
      <app-selected-user></app-selected-user>
    </div>
    <div class="containerBtn">
      <button (click)="openNewContact()" class="btnBlue">
        New Contact <img draggable="false" src="/assets/img/addContact.png" />
      </button>
    </div>
  </div>
</div>

<app-new-contact></app-new-contact>
<app-edit-contact></app-edit-contact>
