<div *ngIf="us.editContact" class="slideContainer" [@slideInOut]>
  <div class="container">
    <div class="slogen">
      <div class="sloganContainer">
        <img src="/assets/img/join-white-logo.png" class="logo" />
        <h2>Edit contact</h2>
      </div>
    </div>
    <div class="formContainer">
      <span class="deleteContainer">
        <img
          src="/assets/img/close.svg"
          class="close"
          (click)="closeSliderEditContainer()"
        />
      </span>
      <div class="wrapper">
        <div class="userImgContainer">
          <div class="frame" [style.background-color]="us.selectedUser.color">{{ us.externalsInitials(us.selectedUser.username) }} 
          </div>
        </div>
        <div class="form">
          <input type="text" [(ngModel)]="us.selectedUser.username">
          <input type="email" [(ngModel)]="us.selectedUser.email">
          <input type="tel" [(ngModel)]="us.selectedUser.phone">
          <button class="btnBlue btnCreate"(click)="us.editUserContact()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>