<div class="page">
  <div class="authHeader">
    <div class="animationContainer">
      <a href="">
        <img class="authLogo" src="/assets/img/join_login_logo.png" />
      </a>
    </div>
    <div class="infoContainer">
      <span class="infoText">Not a Join user?</span>
      <a (click)="signUp()" class="btnBlue">Sign up</a>
    </div>
  </div>
  <div class="authContainer">
    <div class="authInformation">
      <h1>Log in</h1>
      <form (ngSubmit)="login(username, password)">
        <div class="inputForm">
          <input
            type="text"
            [(ngModel)]="username"
            name="username"
            placeholder="Username"
            autocomplete="username"
            #usernameInput="ngModel"
            pattern="^[a-zA-Z]+$"
            required
          />
          <div
            *ngIf="(formSubmitted && !username.trim()) || (usernameInput.touched && usernameInput.errors?.['required'])"
            class="errorMessagelogin"
          >
            Name is required
          </div>
          <div
            *ngIf="usernameInput.errors?.['pattern']"
            class="errorMessageSign"
          >
            Please enter only letters
          </div>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Password"
            autocomplete="current-password"
            #passwordInput="ngModel"
            required
            pattern="^(?!.*<)(?!.*>).*"
          />
          <div
            *ngIf="(formSubmitted && !password.trim()) || (passwordInput.touched && passwordInput.errors?.['required'])"
            class="errorMessagePass"
          >
            Password is required
          </div>
          <div
            *ngIf="passwordInput.errors?.['pattern']"
            class="errorMessagePass"
          >
            Password cannot contain HTML tags
          </div>
        </div>
        <div class="loginOptions">
          <div class="rememberAndForgotContainer">
            <div class="rememberMe">
              <input class="inputCheckbox" type="checkbox" />
              <span class="rememberCheckbox">Remember me</span>
            </div>
            <a (click)="forgotPassword()" class="forgotPasswordLink"
              >Forgot my password</a
            >
          </div>
        </div>
        <div class="btnContainer">
          <button type="submit" class="btnBlue">Log in</button>
          <button (click)="guestLogin()" type="button" class="btnWhite">
            Guest Log in
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="login_successful" class="successMessage">
    {{ loginSuccessMessage }}
  </div>
  <div *ngIf="login_unsuccessful" class="unsuccessMessage">
    {{ loginErrorMessage }}
  </div>
</div>