.loginOptions {
    margin-bottom: 54px;

    .rememberAndForgotContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: clamp(12px, 2vw, 22px);

        .rememberMe {
            display: flex;
            align-items: center;
            margin: 0 10% 0 0;

            .inputCheckbox {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                line-height: 0;
                margin: 0;
            }

            .rememberCheckbox {
                display: flex;
                margin-left: 8px;
                cursor: default;
            }
        }

        .forgotPasswordLink {
            display: flex;
            white-space: nowrap;
            margin: 0;
            font-size: clamp(12px, 2vw, 22px);
            color: rgb(67, 178, 247);
            cursor: pointer;
        }
    }
}

/*************************************************************/
/************************   query's   ************************/
/*************************************************************/

@media screen and (max-width: 500px) {

    .rememberAndForgotContainer {
        flex-direction: column;
    }


}

@media screen and (max-height: 680px) {
    .authHeader {
        height: 12% !important;
    }

    .authLogo {
        display: flex;
        margin: 3px 0 0 0;
        height: 40px !important;
    }

    .authContainer {
        height: calc(100% - 24%);
    }
}