.mainPage {
    display: flex;
    height: 100vh;
    width: 100%;

    .sideMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 66px 20px;
        gap: 103px;
        width: 232px;
        height: 100%;
        background: #2a3647;
    }

    .navigationLinksContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 15px;
    }

    .navigationLink {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 8px;
        padding: 12px 12px;
        margin-left: 3%;
        margin-right: 3%;
        text-decoration: none;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: #3d444d64;
        }

        img {
            width: 20px;
            height: auto;
            margin-right: 10px;
        }
    }

    .navigationLink.active {
        background-color: #131820;
        color: white;
    }

    .legal-notice {
        display: flex;
        margin-top: 200%;
    }

    .navigationLinksName {
        display: flex;
        padding-left: 12px;
    }

    .page {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px 36px 20px 0px;
            gap: 34px;
            height: 50px;
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            padding-left: 5%;
            padding-right: 5%;
        }

        .kanbanImage {
            display: none;
        }

        .kanbanText {
            display: flex;
        }

        .userPrivacyContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 26px;
            width: 104px;
            height: 49px;

            .dataProtectionImg {
                cursor: pointer;
            }

            .legalNoticeMobile {
                display: none;
            }
        }

        .userInitials {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid lightgray;
            border-radius: 50%;
            padding: 12.8px;
            min-width: 25px;
            height: 25px;
            font-weight: 700;
            color: #2a3647;
            background-color: rgb(42, 170, 226);
            cursor: pointer;
        }
    }
}

.tooltip-trigger {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
    text-align: center;
    width: 100%;
    bottom: -30px;
}

.tooltip-trigger:hover .tooltip-text {
    display: block;
}


@media (max-width: 1000px) {
    .mainPage {
        flex-direction: column;

        .sideMenu {
            order: 3;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0px;
            gap: 0;
            width: 100%;
            height: 100px;
        }

        .navigationLinksContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        .navigationLink {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-left: 5%;
            margin-right: 5%;

            img {
                margin-right: 0px;
            }
        }

        .navigationLinksName {
            margin-top: 10px;
            padding-left: 0px;
            font-size: clamp(12px, 2vw, 22px);
            gap: 20px;
        }

        .d-none {
            display: none;
        }

        .page {
            order: 2;
            max-height: calc(100vh - 100px);

            .header {
                order: 1;
                height: 100px;
            }

            .kanbanImage {
                display: flex;
                height: 60px;
            }

            .kanbanText {
                display: none;
            }

            .loadLinkCompomemts {
                order: 2;
                width: 100%;
            }

            .legalNoticeMobile {
                display: flex !important;
                height: 32px;
                cursor: pointer;
            }

            .userPrivacyContainer {
                margin-right: 18%;
            }
        }
    }
}