<div [ngClass]="{ mainPage: !isLoginPage(), loginPage: isLoginPage() }">
  <div class="sideMenu" *ngIf="!isLoginPage()">
    <img draggable="false" class="d-none" src="/assets/img/join-white-logo.png" />

    <div class="navigationLinksContainer">
      <a
        (click)="loadSummary()"
        class="navigationLink"
        [class.active]="hs.activeLink === 'summary'"
      >
        <img draggable="false" class="" src="/assets/img/summary.svg" />
        <div class="navigationLinksName">Summary</div>
      </a>

      <a
        (click)="loadBoard()"
        class="navigationLink"
        [class.active]="hs.activeLink === 'board'"
      >
        <img draggable = "false" class="" src="/assets/img/board.svg" />
        <div class="navigationLinksName">Board</div>
      </a>

      <a
        (click)="loadAddTask()"
        class="navigationLink"
        [class.active]="hs.activeLink === 'addTask'"
      >
        <img draggable = "false" class="" src="/assets/img/add_task.svg" />
        <div class="navigationLinksName">Add Task</div>
      </a>

      <a
        (click)="loadContacts()"
        class="navigationLink"
        [class.active]="hs.activeLink === 'contacts'"
      >
        <img draggable = "false" class="" src="/assets/img/contacts.svg" />
        <div class="navigationLinksName">Contacts</div>
      </a>

      <a
        (click)="loadLegalNotice()"
        class="navigationLink legal-notice d-none"
        [class.active]="hs.activeLink === 'legalNotice'"
      >
        <img draggable = "false" class="" src="/assets/img/legal-notice.png" />
        <div class="navigationLinksName">Legal notice</div>
      </a>
    </div>
  </div>

  <div class="page">
    <div class="header" *ngIf="!isLoginPage()">
      <div class="kanbanImage">
        <img draggable = "false" class="mediaQueryLogo" src="/assets/img/join_login_logo.png" />
      </div>
      <p class="kanbanText">Kanban Project Management Tool</p>
      <div class="userPrivacyContainer">
        <div (click)="loadLegalNotice()" class="tooltip-trigger">
          <img draggable = "false" class="legalNoticeMobile" src="/assets/img/legal-notice.png" />
          <div class="tooltip-text">Legal Notice</div>
        </div>

        <div class="tooltip-trigger">
          <img draggable = "false" class="dataProtectionImg" src="/assets/img/protection.svg" (click)="loadHelpPage()" />
          <div class="tooltip-text">Help</div>
        </div>

        <div class="userInitials">
          <div
            class="userInitials"
            (click)="toggleDropdown()"
            [style.background-color]="us.userData?.usercolor"
          >
            {{ us.userData?.username }}
          </div>
        </div>
        <div *ngIf="us.isDropdownOpen" class="dropdownMenu">
          <ul class="dropdownContainer">
            <span class="dropdownMenuUser" (click)="us.logout()">Logout</span>
            <span class="dropdownMenuUser" (click)="openUserColor()"
              >Choose a Color</span
            >
          </ul>
        </div>

        <div
          *ngIf="us.isUserColorOpen && !us.userData.usercolor"
          class="userColorsContainer"
        >
          <div class="userColors">
            <div class="userColorImage">
              <div
                class="userInitialsDropdown"
                [style.background-color]="us.selectedColor"
              >
                {{ us.userData?.username }}
              </div>
            </div>
            <label class="headlineUserColor">User colors</label>
            <div class="newUserColors">
              <div
                *ngFor="let color of us.userColors; let i = index"
                class="colorSquare"
                [style.background-color]="color"
                (click)="selectColor(color)"
              ></div>
              <div class="saveBtnContainer">
                <button
                  class="btnBlue"
                  type="button"
                  (click)="us.saveUserColor()"
                >
                  save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="loadLinkCompomemts">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>