.boardContainer {
    display: flex;
    flex-direction: column;
    margin: 0 8% 0 8%;
    height: 100%;
    width: calc(100% - 16%);

    header {
        display: flex;
        justify-content: space-between;

        .wrapper {
            display: flex;
            align-items: center;
            gap: 16px;
            height: 51px;

            .searchWrapper {
                display: flex;
                align-items: center;
                height: 100%;
                border: 1px solid lightgrey;
                background-color: white;
                border-radius: 10px;

                input {
                    box-sizing: border-box;
                    background: #ffffff;
                    outline: none;
                    padding: 13px 21px;
                    height: 70%;
                    width: 82%;
                    border: none;
                    border-right: 1px solid lightgrey;
                    margin: 0 12px 0 0;
                }
            }
        }
    }

    .scrollBtn {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 12px;

        img {
            cursor: pointer;
        }

        .leftHover:hover {
            content: url("/assets/img/arrowLeftLight.png");
        }

        .rightHover:hover {
            content: url("/assets/img/arrowRightLight.png");
        }
    }

    .dragAndDropContainer {
        display: flex;
        height: calc(100% - 18%);

        .dragAndDropWrapper {
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            scroll-behavior: smooth;
        }

        .taskFieldContainer {
            display: flex;
            flex-direction: column;
            min-width: 280px;
            padding: 0 24px 0 0;

            .taskFieldHeader {
                display: flex;
                font-size: clamp(10px, 1vw, 12px);
                color: #2a3647;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
            }

            .taskFieldWrapper {
                margin-top: 16px;
                min-height: 200px;
                height: 100%;
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-x: hidden;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .img:hover {
                content: url("/assets/img/plusButtonBorderHover.svg");
            }
        }
    }
}

/*************************************************************/
/************************   query's   ************************/
/*************************************************************/

@media screen and (max-width: 700px) {
    header h2 {
        width: 40%;
    }

    .btnBlue {
        display: none;
    }

    input {
        margin: 0 5px 0 0 !important;
    }
}
