<div class="boardContainer">
  <header>
    <h2>Board</h2>
    <div class="wrapper">
      <span class="searchWrapper">
        <input type="search" placeholder="Find Task" />
        <img src="/assets/img/search.svg" class="" />
      </span>
      <button (click)="ts.openAddTaskPage()" class="btnBlue addTask">
        Add Task +
      </button>
    </div>
  </header>
  <!-- scroll buttons -->
  <div class="scrollBtn">
    <span (click)="scrollTo('left')">
      <img src="/assets/img/arrowLeftDark.png" class="leftHover" />
    </span>
    <span (click)="scrollTo('right')">
      <img src="/assets/img/arrowRightDark.png" class="rightHover" />
    </span>
  </div>
  <div class="dragAndDropContainer">
    <div class="dragAndDropWrapper">
      <!-- todo Container -->
      <div
        class="taskFieldContainer"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListConnectedTo]="[doneList, inProgressList, doTodayList]"
        (cdkDropListDropped)="ts.drop($event, 'todo')"
      >
        <span class="taskFieldHeader">
          <h1 class="headerText">Todo</h1>
        </span>
        <div class="taskFieldWrapper">
          <ng-container *ngFor="let task of ts.tasks">
            <app-task
              (click)="openTasks(task)"
              *ngIf="task.status === 'todo'"
              [task]="task"
            ></app-task>
          </ng-container>
        </div>
      </div>
      <!-- in progress Container -->
      <div
        class="taskFieldContainer"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListConnectedTo]="[doneList, todoList, doTodayList]"
        (cdkDropListDropped)="ts.drop($event, 'inProgress')"
      >
        <span class="taskFieldHeader">
          <h1 class="headerText">In progress</h1>
        </span>
        <div class="taskFieldWrapper">
          <ng-container *ngFor="let task of ts.tasks">
            <app-task
              (click)="openTasks(task)"
              *ngIf="task.status == 'inProgress'"
              [task]="task"
            ></app-task>
          </ng-container>
        </div>
      </div>
      <!-- awaiting feedback container -->
      <div
        class="taskFieldContainer"
        cdkDropList
        #doTodayList="cdkDropList"
        [cdkDropListConnectedTo]="[doneList, inProgressList, todoList]"
        (cdkDropListDropped)="ts.drop($event, 'awaiting')"
      >
        <span class="taskFieldHeader">
          <h1 class="headerText">Awaiting Feedback</h1>
        </span>
        <div class="taskFieldWrapper">
          <ng-container *ngFor="let task of ts.tasks">
            <app-task
              (click)="openTasks(task)"
              *ngIf="task.status == 'awaiting'"
              [task]="task"
            ></app-task>
          </ng-container>
        </div>
      </div>
      <!-- done container -->
      <div
        class="taskFieldContainer"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListConnectedTo]="[todoList, inProgressList, doTodayList]"
        (cdkDropListDropped)="ts.drop($event, 'done')"
      >
        <span class="taskFieldHeader">
          <h1 class="headerText">Done</h1>
        </span>
        <div class="taskFieldWrapper">
          <ng-container *ngFor="let task of ts.tasks">
            <app-task
              (click)="openTasks(task)"
              *ngIf="task.status == 'done'"
              [task]="task"
            ></app-task>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- open task page-->
<app-open-task></app-open-task>

<!-- open edit task page -->
<app-open-edit-task></app-open-edit-task>