.loginPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 4%;
    margin-right: 4%;
  }
  
  .headerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 20%;
  }
  
  .animationContainer {
    display: flex;
    opacity: 0;
    animation: logoEnterAnimation 2s forwards;
  }
  
  @keyframes logoEnterAnimation {
    from {
      opacity: 0;
      transform: translate(650%, 350%);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 60%;
    border-radius: 2.5%;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .loginInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  h1 {
    display: flex;
    margin-bottom: 6%;
    font-size: clamp(12px, 4vw, 44px);
  }
  
  .loginInformation h1 {
    font-size: clamp(36px, 6vw, 44px);
    border-bottom: 2px solid rgb(67, 178, 247);
    padding-bottom: 5px;
  }
  
  .inputForm {
    display: flex;
    flex-direction: column;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 3%;
  }
