<!-- open edit task -->
<div class="shadowPage" *ngIf="ts.editTask">
  <div class="openContainer">
    <header>
      <span
        class="categoryName"
        [style.background-color]="ts.openTaskData.category.color"
        >{{ ts.openTaskData?.category.name }}</span
      >
      <span class="closeOpenTask">
        <img
          (click)="closeEditTasks()"
          src="/assets/img/close.svg"
          class="close"
        />
      </span>
    </header>
    <span class="infoEdittask">Title:</span>
    <input
      type="text"
      [(ngModel)]="ts.openTaskData.title"
      #title="ngModel"
      required
    />
    <div
      *ngIf="title.invalid && (title.dirty || title.touched)"
      class="errorMessage"
    >
      Title is required.
    </div>
    <span class="infoEdittask">Description:</span>
    <textarea
      class="textarea"
      name="text"
      [(ngModel)]="ts.openTaskData.description"
      #description="ngModel"
      required
    ></textarea>
    <div
      *ngIf="description.invalid && (description.dirty || description.touched)"
      class="errorMessage"
    >
      Description is required.
    </div>
    <span class="infoEdittask">Due Date:</span>
    <input
      type="date"
      [(ngModel)]="ts.openTaskData.date"
      #date="ngModel"
      required
    />
    <div
      *ngIf="date.invalid && (date.dirty || date.touched)"
      class="errorMessage"
    >
      Due Date is required.
    </div>
    <span class="infoEdittask">Priority:</span>
    <div class="prioContainer">
      <div
        class="prioBtn"
        [ngClass]="{ prioUrgent: ts.isUrgent }"
        (click)="ts.changePriority('Urgent')"
      >
        Urgent
        <img
          draggable="false"
          [src]="
            !ts.isUrgent
              ? '/assets/img/prioUrgent.svg'
              : '/assets/img/prioUrgent-white.svg'
          "
        />
      </div>
      <div
        class="prioBtn"
        [ngClass]="{ prioMedium: ts.isMedium }"
        (click)="ts.changePriority('Medium')"
      >
        Medium
        <img
          draggable="false"
          [src]="
            !ts.isMedium
              ? '/assets/img/prioMedium.svg'
              : '/assets/img/prioMedium-white.svg'
          "
        />
      </div>
      <div
        class="prioBtn"
        [ngClass]="{ prioLow: ts.isLow }"
        (click)="ts.changePriority('Low')"
      >
        Low
        <img
          draggable="false"
          [src]="
            !ts.isLow
              ? '/assets/img/prioLow.svg'
              : '/assets/img/prioLow-white.svg'
          "
        />
      </div>
    </div>

    <span class="infoEdittask">Assigned To:</span>
    <div class="containerAssignedTo">
      <input
        class="taskInput"
        placeholder="choose Contact"
        type="text"
        [readonly]="true"
        [ngStyle]="{
          'border-radius': ts.assignedEditDropdown ? '10px 0 0 0' : ''
        }"
      />
      <img
        draggable="false"
        (click)="openAssignedToEdit()"
        class="assignedDropdown"
        src="/assets/img/arrowDown.png"
        [ngStyle]="{
          'border-radius': ts.assignedEditDropdown ? '0 10px 0 0' : ''
        }"
      />
    </div>
    <!-- DROPDOWN -->
    <div class="dropdownEditAssignedTo" *ngIf="ts.assignedEditDropdown">
      <div class="dropdownContainer">
        <div class="taskDropdownContainer" *ngFor="let user of us.users">
          <span
            class="taskEditFrame"
            [style.background-color]="user.user_color"
          >
            {{ us.employeesInitials(user.username, user.last_name) }}
          </span>
          <span class="nameWrapper">
            {{ user.username }} {{ user.last_name }}
          </span>
          <input
            [checked]="user.checked"
            [ngModel]="user.checked"
            (ngModelChange)="checkUser(user, $event)"
            [ngModelOptions]="{ standalone: true }"
            class="userCheckbox"
            type="checkbox"
            name="checkedUser"
          />
        </div>
      </div>
    </div>
    <div class="usercheckEditContainer">
      <div class="assignedToEdit">
        <div
          class="assignedToEditWrapper"
          *ngFor="let userId of ts.openTaskData.assignedTo"
        >
          <span
            class="userFrame userFrameOpenEditTask"
            [style.background-color]="ts.loadUserColor(userId)"
          >
            {{ ts.loadUsernameTask(userId).initials }}
          </span>
        </div>
      </div>

      <button
        class="btnBlue btnEdit"
        (click)="ts.changetask()"
        [disabled]="
          title.invalid ||
          description.invalid ||
          date.invalid ||
          ts.openTaskData.assignedTo.length === 0
        "
      >
        ok
        <img src="/assets/img/btncheck.png" />
      </button>
    </div>
    <div
      class="usercheckContainer"
      *ngIf="ts.openTaskData.assignedTo.length === 0"
    >
      <div class="errorMessage">
        <span>No user selected</span>
      </div>
    </div>
  </div>
</div>