header {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    margin: 0 0 4% 0;

    .categoryName {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: clamp(16px, 1vw, 26px);
        width: 63%;
        height: 100%;
        border-radius: 16px;
        text-shadow: 1px 1px 5px black;
    }

    .close {
        display: flex;
        height: 50px;
        cursor: pointer;
    }
}

.infoEdittask {
    display: flex;
    font-size: clamp(16px, 1.5vw, 32px);
    font-weight: bolder;
    height: 6%;
    align-items: center;
    margin: 0 0 12px 0;
}

input {
    outline: 0;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 13px 21px;
    background-color: white;
    font-family: "Inter", sans-serif;
}

textarea {
    display: flex;
    min-height: 50px;
    max-height: 50px;
    border: 1px solid lightgrey;
    font-family: "Inter", sans-serif;
    border-radius: 10px;
    padding: 10px;
    width: calc(100% - 22px);
    outline: 0;
}

.prioContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.prioBtn {
    display: flex;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    padding: 8px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.prioBtn:hover {
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.4);
}

.prioBtn img {
    padding-left: 10px;
}

.prioUrgent {
    background-color: #ff3d00;
    color: white;
}

.prioMedium {
    background-color: #ffa800;
    color: white;
}

.prioLow {
    background-color: #8ce54d;
    color: white;
}

.dropdownEditAssignedTo {
    display: flex;
    width: calc(100% - 2px);
    height: 12%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 0 0 6px 6px;

    .dropdownContainer {
        display: flex;
        flex-direction: column;
        margin: 0 10% 3px 10%;

        .taskDropdownContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 3px 0 0 0;

            .taskEditFrame {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid lightgray;
                border-radius: 50%;
                padding: 13px;
                width: 6px;
                height: 6px;
                font-weight: 700;
                margin: 0 20px 0 0;
                color: #2a3647;
                background-color: transparent;
            }
        }
    }
}

.containerAssignedTo {
    display: flex;

    .taskInput {
        display: flex;
        position: relative;
        outline: 0;
        border: 1px solid #d1d1d1;
        border-radius: 10px 0px 0px 10px;
        padding: 13px 21px;
        background-color: white;
        width: 100%;
        margin: 0 !important;
    }

    .assignedDropdown {
        display: flex;
        border: 1px solid #d1d1d1;
        border-radius: 0px 10px 10px 0px;
        padding: 13px 7px;
        background-color: white;
        cursor: pointer;
    }
}

.usercheckEditContainer {
    display: flex;
    width: calc(100% - 1%);
    padding: 6px;
    align-items: center;

    .assignedToEdit {
        display: flex;
        width: 100%;
        margin: 3px 0 0 0;
    }

    .assignedToEditWrapper {
        display: flex;
    }

    .userFrameOpenEditTask {
        margin: 0px -8px 0 0;
        width: 8px;
        height: 8px;
    }

    .btnEdit {
        padding: 17px;
    }
}

/*************************************************************/
/************************   query's   ************************/
/*************************************************************/

@media screen and (max-width: 700px) {
    .openTaskContainer {
        width: 80% !important;
    }

    .openContainer {
        width: 80% !important;
    }
}