header {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    margin: 0 0 4% 0;

    .categoryName {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: clamp(16px, 1vw, 26px);
        width: 63%;
        height: 100%;
        border-radius: 16px;
        text-shadow: 1px 1px 5px black;
    }

    .closeOpenTask {
        display: flex;

        .notes {
            display: flex;
            margin: 0 12px 0 0;
            cursor: pointer;
        }
    }

    header {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: space-between;
        margin: 0 0 4% 0;

        .categoryName {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: clamp(16px, 1vw, 26px);
            width: 63%;
            height: 100%;
            border-radius: 16px;
            text-shadow: 1px 1px 5px black;
        }

        .close {
            display: flex;
            height: 50px;
            cursor: pointer;
        }
    }

    .title {
        display: flex;
        font-size: clamp(16px, 1.5vw, 32px);
        font-weight: bolder;
        height: 10%;
        align-items: center;
    }

    .openTaskInfo {
        display: flex;
        font-size: clamp(12px, 1vw, 24px);
        margin: 0 0 4% 0;
        height: 10%;
    }

    .assignedTo {
        display: flex;
        flex-direction: column;
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .assignedToWrapper {
        display: flex;
        align-items: center;
        margin: 6px 0 0 0;

        .nameWrapper {
            display: flex;
            margin: 0 0 0 12px;
        }
    }

    .moveEditWrapper {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;
        padding: 3% 0 3% 0;

        .moveTo {
            display: flex;
            align-items: center;
            width: calc(100% - 50px);

            .moveIcon {
                height: 40px;
                margin: 0 12px 0 0;
                cursor: pointer;

                &:hover {
                    content: url("/assets/img/dndLightBlue.svg");
                }
            }

            .moveOptions {
                display: flex;
                width: 100%;

                .btnMove {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    height: 40px;
                    width: fit-content;
                    border: none;
                    min-width: 70px;
                    border-radius: 8px;
                    background: #2a3647;
                    gap: 10px;
                    color: #ffffff;
                    font-weight: 700;
                    margin: 0 12px 0 0;
                    cursor: pointer;
                    transition: all 125ms ease-in-out;
                    font-size: clamp(9px, 1vw, 12px);

                    &:hover {
                        background-color: rgb(67, 178, 247);
                    }
                }
            }
        }

        .edit {
            display: flex;
            width: 50px;
            justify-content: flex-end;
            cursor: pointer;
        }
    }

    .close {
        display: flex;
        height: 50px;
        cursor: pointer;
    }
}

.title {
    display: flex;
    font-size: clamp(16px, 1.5vw, 32px);
    font-weight: bolder;
    height: 10%;
    align-items: center;
}

.openTaskInfo {
    display: flex;
    font-size: clamp(12px, 1vw, 24px);
    margin: 0 0 4% 0;
    height: 10%;
}

.assignedTo {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.assignedToWrapper {
    display: flex;
    align-items: center;
    margin: 6px 0 0 0;

    .nameWrapper {
        display: flex;
        margin: 0 0 0 12px;
    }
}

.moveEditWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 3% 0 3% 0;

    .moveTo {
        display: flex;
        align-items: center;
        width: calc(100% - 50px);

        .moveIcon {
            height: 40px;
            margin: 0 12px 0 0;
            cursor: pointer;

            &:hover {
                content: url("/assets/img/dndLightBlue.svg");
            }
        }

        .moveOptions {
            display: flex;
            width: 100%;

            .btnMove {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                height: 40px;
                width: fit-content;
                border: none;
                min-width: 70px;
                border-radius: 8px;
                background: #2a3647;
                gap: 10px;
                color: #ffffff;
                font-weight: 700;
                margin: 0 12px 0 0;
                cursor: pointer;
                transition: all 125ms ease-in-out;
                font-size: clamp(9px, 1vw, 12px);

                &:hover {
                    background-color: rgb(67, 178, 247);
                }
            }
        }
    }

    .edit {
        display: flex;
        width: 50px;
        justify-content: flex-end;
        cursor: pointer;
    }
}
