:host {
    display: flex;
    height: 100%;
    width: 100%;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% - 9%);
    margin: 0 0 0 9%;

    .summaryContent {
        display: flex;

        justify-content: flex-start;
        margin-left: 100px;
    }
}

.taskGreetingContainer {
    display: flex;
    flex: 1;

    .taskStatusContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        height: 60%;

        .statusFrontRow {
            display: flex;
            width: 100%;
            height: 30%;
            justify-content: space-between;
        }

        .tasksSmallContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: white;
            height: 100%;
            width: 30%;
            border-radius: 30px;

            &:hover {
                cursor: pointer;
                background-color: #2a3647;
                color: white;
                transform: scale(1.1);
                transition: 0.1s ease-in-out;
            }

            .textTask {
                display: flex;
                font-size: clamp(12px, 2vw, 24px);
                font-weight: 400;
            }
        }

        .taskPriorityDateContainer {
            display: flex;
            justify-content: center;
            border-radius: 30px;
            background-color: white;
            width: 100%;

            &:hover {
                cursor: pointer;
                background-color: #2a3647;
                color: white;
                transform: scale(1.1);
                transition: 0.1s ease-in-out;
            }

            .tasksLargeContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-around;
                width: 100%;
            }

            .priorityContainer {
                display: flex;
                align-items: center;
                border-right: 3px solid grey;
                width: 45%;
                margin: 5px 0 5px 0;
            }

            .deadlineContainer {
                display: flex;
                flex-direction: column;
                text-align: start;
                font-size: 18px;
                font-weight: 100;
                gap: 7px;
            }
        }

        .statusOptions {
            display: flex;
            width: 100%;
            height: 30%;
            justify-content: space-between;

            .tasksMediumContainer {
                display: flex;
                background-color: white;
                height: 100%;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 45%;

                &:hover {
                    cursor: pointer;
                    background-color: #2a3647;
                    color: white;
                    transform: scale(1.1);
                    transition: 0.1s ease-in-out;
                }

                .imgContainer {
                    display: flex;

                    img {
                        height: 60px;
                    }
                }
            }
        }
    }
}

/*************************************************************/
/************************   query's   ************************/
/*************************************************************/

@media screen and (max-width: 1050px) {
    .summaryContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 18%);
        margin: 0 9% 9% 9%;

        .taskGreetingContainer {
            display: flex;
            width: 60%;
            height: 60%;
        }

        .taskStatusContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 10% 0;
            height: calc(100% - 10%);
            width: 100%;
        }

        .d-none {
            display: none;
        }
    }
}
