body {
    margin: 0;
    padding: 0;
    background-color: #f6f7f8;
    font-family: "Inter", sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

.btnBlue {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 51px;
    padding: 0 16px 0 16px;
    border: none;
    min-width: 70px;
    border-radius: 8px;
    background: #2a3647;
    gap: 10px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    font-size: clamp(16px, 3vw, 22px);

    &:hover {
        background-color: rgb(67, 178, 247);
    }
}

.btnWhite {
    display: flex;
    color: #2a3647;
    border: 1px solid black;
    font-size: clamp(16px, 3vw, 22px);
    height: 51px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 125ms;
    padding: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;

    &:hover {
        color: rgb(67, 178, 247);
        border: 1px solid rgb(67, 178, 247);
    }
}

input {
    display: flex;
    height: 51px;
    border-radius: 8px;
    border: 1px solid lightgray;
    padding: 0px 16px 0px 16px;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
    margin-bottom: 3%;
}

form {
    width: 100%;
}

.goBackContainer {
    display: flex;
    width: 100%;

    .backTo {
        display: flex;
        justify-content: start;
        color: #0dc8f4;
        cursor: pointer;
        font-size: 54px;
        margin-left: 3%;
    }
}

.successMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
  }